* {
    margin: 0;
    padding: 0;
}

button:hover,
img:hover,
li:hover {
    cursor: pointer ;
    opacity: 80%;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: grid;
    grid-template-columns: 0.7fr 4fr;
    grid-template-rows: 1fr 2fr;
}

.header {
    background-color: rgb(255, 255, 255);
    padding: 10px 50px;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.head-section-one,
.head-section-two {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-self: center;
    gap: 1rem;
}

.search {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 20fr;
    gap: 1rem;
    justify-content: center;
    align-content: center;
}

.search img {
    justify-self: end;
    width: 2rem;
    height: 2rem;
}

.search input {
    font-size: 1.3rem;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    border: 1px solid lightgrey;
    background-color: rgb(211, 211, 211);
}

.profile {
    display: grid;
    grid-template-columns: 10px 10px 200px;
    grid-auto-flow: column;
    gap: 3.5rem;
    justify-content: end;
    align-content: center;
    justify-items: start;
    align-items: center;
}

.profile img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;;
}

#notification {
    width: 2rem;
    height: 2rem;
}

.welcome {
    display: grid;
    grid-template-columns: 4rem 1fr;
    justify-content: flex-start;
    align-content: center;
    column-gap: 1rem;
}

.welcome img {
    grid-row: 1/3;
    justify-self: end;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;;
}

.welcome p {
    align-self: end;
}

.actions {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

.actions button {
    padding: 0.7rem 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    border: none;
    background-color: rgb(53, 175, 231);
    color: white;
    font-weight: 600;
}


.sidebar {
    grid-row: 1/3;
    color: white;
    background-color: rgb(25, 146, 212);
    font-size: large;
    display: grid;
    grid-template-rows: 0.5fr 2fr 3fr;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    justify-content: center;
    align-content: center;

    padding: 10px 30px;
}

.sidebar img {
    height: 1.5rem;
    width: 1.5rem;
}

.sidebar ul > li {
    list-style-type: none;
}

.logo {
    justify-self: start;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.sidebar ul {
    padding: 0px 5px;
}

.logo img{
    height: 2.5em;
    width: 2.5rem;
}

.main-actions {
    align-self: center;
}

.main-actions ul,
.secondary-actions ul {
    display: grid;
    gap: 1.5rem;
}

.main-actions ul li,
.secondary-actions ul li {
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    gap:1.5rem;
    grid-auto-flow: column;
}

.main-actions ul li h3 {
    align-self: start;
}

.sidebar img {
    filter: invert(1);
}

.main-content {
    background-color: rgb(224, 224, 224);
    padding: 2rem 1rem 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.8fr 0.6fr;
    gap: 15px;
}

.projects-container {
    grid-row: 1/3;
}

.projects {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
}

.project-card {
    background-color: rgb(255, 255, 255);
    min-height: 100px;
    padding: 40px 20px 30px;
    border-radius: 15px;
    border-left: 8px solid rgb(211, 173, 0);
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.project-actions {
    display: grid;
    grid-auto-flow: column;
    justify-self: end;
    gap: 20px;
}

.project-actions img {
    height: 2rem;
    width: 2rem;
}

.announcements {
    background-color: white;
    padding: 1.5rem;
    margin-top: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    border-radius: 15px;
}

.announcement-info {
    align-self: center;
    padding: 1rem;
}

.announcement-info p {
    padding-bottom: 20px;
}

hr {
    border: 0.5px solid lightgray;
}


.trending-container{
    display: grid;
    grid-template-rows: 1.5rem 1fr;
    padding-bottom: 1rem;
}

.trending {
    background-color: white;
    margin-top: 1rem;
    border-radius: 15px;
    display: grid;
}

.trend-project {
    margin: 1rem;
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-left: 20px;
    column-gap: 0.5rem;
}

.trend-project img {
    grid-row: 1/3;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.trend-project p:first-of-type{
    font-weight: bolder;
}